<!-- views/busStopView.ejs -->
<link rel="stylesheet" type="text/css"   href="/css/busStop.css">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bus Stop</title>
</head>

<body id="home">
    <header>
        <h1>Postcode <%= data[0].showPostCode() %></h1>
    </header>
    <ul>
        <%data.forEach((stop)=> { %>
            <div class="bus-stop">
            <div class="stop"><img class="bus" src="/bus.png"><p><b class="stop-name"><%= stop.showBusStopName() %></b></p></div>
            <div class="time">
                <% if (stop.buses===0) { %>
                    <p>
                        <%= `There are no buses coming to this stop` %>
                    </p>
                <% }; %>
                <% if (stop.buses!==0) { %>
                    <%stop.buses.forEach((bus)=> { %>
                        <p class="bus-info">
                            <a class="line-id"><%=bus.showLine() %></a>
                            <a class="destination"><%=bus.showDestination() %></a>
                            <a class="time"><%=bus.showTimeToStation() %></a>
                        </p>                        
                    <% }); %>
                <% }; %>
            </div>
        </div>
        <% }); %>
    
    </ul>
</body>

</html>